* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top_level {
  height: 100%;
  width: 100%
}

.credential_background {
  color: black;
  padding: 6rem;
  margin: 0; 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.credential_background::after {
  background-image: url('art-deco-black-elisabeth-fredriksson.jpg');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; 
}

.credential {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 65%;
  width: 80%;
  margin-top: 3%; 
  z-index: 2;
}

.form_half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 50%;
  margin:0;
  background-color: black;
  color: white;
  z-index: 2;
}

.app_title_half {
  display: flex;
  position: relative;
  height: 100%;
  width: 50%;
  margin:0;
  padding: 3rem; 
  background-color: white;
  color: black; 
  text-align: center;
  z-index: 2;
  opacity: 0.6;
}

.login_title {
  display: flex; 
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-right: -43%; 
  margin-top: 12%; 
  z-index: 2;
}

.main_title {
  text-align: center;
  font-size: 12rem;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 1.8rem;
  z-index: 2;
}

.login_form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin: 0; 
  padding: 0; 
  z-index: 2;
}

.label {
  font-size: 1.2rem;
}

.input {
  width: 15rem;
  height: 2rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: black;
  color: white; 
  font-size: 1.1rem; 
}

.input:focus {
  outline: none;
}

::placeholder {
  opacity: 1; 
  color: white; 
}

.submit_button {
  width: 10rem; 
  height: 2.5rem;
  margin-top: 1rem;
  background-color: white;
  color: black; 
}

.submit_button:hover {
  cursor: pointer;
}

.form_half button {
  z-index: 10;
  background-color: white;
  color: black; 
  height: 2.5rem;
  width: 10rem; 
}

.form_half button:hover {
  cursor: pointer;
}

.signup_form {
  display:flex; 
  padding: 2rem; 
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.nav_item{
  padding-inline-start: 0;
  margin-block-start: 2%;
}

.nav_item a {
  text-decoration: none;
  color: white; 
}

.nav_item a:hover {
  color: goldenrod; 
}

.app_nav {
  position: fixed; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white; 
  height: 3.5rem;
  width: 100%;
}

.app_nav_hidden {
  display: none;
  z-index: -1;
}

.app_title {
  height: 100%;
  width: 20%;
  background-color: white;
  color: black; 
  font-size: 1.5rem; 
  border-style: solid;
  border-color: black;
  text-align: center;
}

.app_title p {
  margin-block-start: 0.9rem;
}

.user_account_menu {
  margin-right: 2%;
}

img {
  height: 20rem;
  width: 12rem;
  border-radius: 1rem;
}

.App {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;  
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem; 
}

.app_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  height: 20%;
  width: 100%;
}

.card_draw_and_governing_card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
  width: 100%
}

.card_draw {
  height: 100%;
  width: 70%;
}

.governing_card {
  height: 100%;
  width: 20%;
  padding: 1rem; 
}

.CardDraw {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; 
  display: flex;
  flex-direction: column;

}

.card_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card_container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0; 
}

.game_functions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0; 
  width:100%;
  height: 100%;
}

.game_functions button {
  height: 3rem;
  width: 10rem;
  font-size: 1.1rem; 
  color: white;
  background-color: black;
}

.game_functions button:hover {
  cursor: pointer;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem; 
}

.user_readings_component {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2%; 
}

.user_readings_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.reading_thumbnail {
  margin: 2rem; 
}

.reading_thumbnail img {
  transition: 0.3s; 
}

.reading_thumbnail img:hover {
  cursor: pointer;
  z-index: 5;
  height: 21rem;
  width: 12.6rem;
}

.full_reading_display_background {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;  
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.full_reading_display_splash {
  display: block;
  position: fixed;
  color: black; 
  background-color: white;
  width: 70%;
  height: 65%;
  margin-top: 3%;
  margin-left: 14%; 
  padding: 2rem;
  z-index: 10;
}


.full_reading_display_splash_hidden {
  display: none;
  z-index: -1;
}

.background_for_splash {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;  
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: black;
  opacity: 0.6;
  z-index: 5;
}

.background_for_splash_hidden {
  display: none;
  z-index: -1;
}

.about_text {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10rem; 
  padding-left: 25rem;
  padding-right: 25rem;
  font-size: 1.5rem;
  width: 100%;
}

.detailed_card_container {
  display: flex;
  flex-flow: column wrap; 
  padding: 3%; 
  margin-top: 2%;
  height: 100%;
  width: 100%;
}

.tarot_suit {
  display:flex;
  flex-direction: column;
  overflow: scroll; 
  height: 40%;
  width: 25%; 
  border-radius: 1rem;
  border-style: solid;
  border-width: thin; 
  border-color: lightgray;
}

.card_detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

button.detailed_card_link {
    background: none;
    border: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    font-size: 1.5rem; 
    margin-block-start: 2%;
    margin-block-end: 2%;
    cursor: pointer;
}

button.detailed_card_link:hover {
  color: purple; 
}
