* {
  /* border-style: solid;
  border-color: black; */
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top_level {
  height: 100%;
  width: 100%
}

.credential_background {
  color: black;
  padding: 6rem;
  margin: 0; 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.credential_background::after {
  background-image: url('art-deco-black-elisabeth-fredriksson.jpg');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; 
}

.main_title {
  text-align: center;
  font-size: 12rem;
  padding: 0;
  margin: 0; 
  z-index: 2;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 1.8rem;
  z-index: 2;
}

.login_form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-left: 25rem;
  padding-right: 25rem;
  z-index: 2;
  margin-top: 5rem;
}

.label {
  font-size: 1.2rem;
}

.input {
  width: 15rem;
  height: 2rem;
}

.submit_button {
  width: 10rem; 
  height: 2.5rem;
  border-radius: 0.5rem; 
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(48, 45, 45);
  margin-top: 1rem;
}

.submit_button:hover {
  cursor: pointer;
}

.link {
  z-index: 2;
}

.link:hover {
  cursor: pointer;
}

.signup_form {
  display:flex; 
  padding: 2rem; 
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 2;
}

nav {
  background-color: black;
  height: 3rem; 
  display: flex;
  align-items: center;
  margin:0;
  padding:0; 
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white; 
}

nav a:hover {
  color:gray;
}

img {
  height: 30rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.25rem gray;
}

/* .reversed {
  transform: rotate(180deg);
} */

.App {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;  
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.AppHeader {
  text-align: center;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.CardDrawAndReadingDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 2%; 
  background-color: lightgray;
}

.CardDraw {
  width: 70%;
  height: 100%;
  padding: 2%; 
  display: flex;
  flex-direction: column;

}

.card_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game_functions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:lightgray;
  margin-bottom: 2rem;
  padding: 2rem; 
}

.CardContainer button {
  width: 6rem;
  height: 2rem;
}

.UserReadings {
  width: 45%;
  height: 100%;
  padding: 2%; 
}

.about_text {
  padding: 2rem; 
}

.card_back img {
  height: 30rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.25rem gray;
}


